div.backgroundImg {
    text-align: center;
}

div.loginDiv {
    position: absolute;
    background-color: white;
    background-color: rgba(255,255,255,0.5);
    width: 450px;
    height: 300px;
    padding: 50px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    /*元素高度的一半*/
    margin-left: -225px;
    /*元素宽度的一半*/
}
div.loginInput{
    opacity: 0.7;
    border: 1px solid #CBCBCB;
    margin: 20px 0px;
    background-color: #F0FFFF; 
}
div.loginInput span.loginInputIcon{
    color: #ADADAD;
    margin: 0px;
    width: 40px;
    height: 40px;
    display: inline-block;
}
span.loginInputIcon span.glyphicon{
    font-size: 22px;
    left: 9px;
    top: 9px;
    position: relative;
}
div.loginInput input{
    display: inline-block;
    border: 0px solid transparent;
    width: 244px;
    height: 30px;
    position: relative;
    left: 6px;
    top: 4px;
    background-color: #F0FFFF;
}
div.loginAcountText{
    color: #3C3C3C;
    font-size: 16px;
    font-weight: bold;
}
body{
    font-size: 12px;
    font-family: Arial;
}
div.loginButton button{
    color: white;
    background-color: skyblue;
    font-size: 14px;
    font-weight: bold;
}